@use "../../abstracts/" as *;

/************************* register **********************/
.register {
  background-color: $primary-color;
  padding: 90px 0 90px;
  text-align: center;
  line-height: 1.5;

  &__sub {
    padding-bottom: 30px;
    max-width: pxToRem(230);
    margin: 0 auto;
  }

  &__form {
    max-width: pxToRem(230);
    margin: 0 auto;
  }

  &__input {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 30px 0 52px;
  }

  &__btn {
    width: 100%;
    padding: pxToRem(15) pxToRem(58);
    border: none;
    background-color: $text-color;
    color: $background-color;
  }
}
/************************* end of register **********************/
