<footer class="footer-main">
  <div class="container">
    <!-- Start of Footer content -->
    <div class="footer-main__content">
      <!-- Start footer list -->
      <include
        src="./components/list.html"
        locals='{
          "title": "Company",
          "list": "[`News`, `Blog`, `Testimonials`, `About Us`, `Press Kit`, `Get in Touch`]"
        }'
      >
      </include>

      <!-- Start footer list -->
      <include
        src="./components/list.html"
        locals='{
        "title": "Products",
        "list": "[`UI Kits`, `Icons`, `Wordpress Themes`, `Mock-Ups`]"
        }'
      >
      </include>

      <!-- Start footer list -->
      <include
        src="./components/list.html"
        locals='{
          "title": "Support",
          "list": "[`Community`, `Forum`, `Distributors`, `Privacy Policy`, `Terms of Use`]"
        }'
      >
      </include>

      <!-- Start footer list -->
      <include
        src="./components/list.html"
        locals='{
          "title": "Customers",
          "list": "[`Documentation`, `Tools`, `Downloads`, `Developer Center`]"
        }'
      >
      </include>
    </div>

    <!-- Start footer bottom -->
    <div class="footer-main__bottom">
      <!-- Start footer copyright -->
      <div class="footer-main__copyright">
        <p>© 2016 Hofmann UI Kit</p>
        <p>Created by Goldenfox — okodesign.net</p>
      </div>

      <!-- Start footer social icons -->
      <div class="footer-main__social">
        <a href="javascript:void(0)" class="footer-main__icon">
          <img
            src="../assets/icons/ic-linkedin.svg"
            alt="linked icon"
            class="img-main"
          />
        </a>
        <a href="javascript:void(0)" class="footer-main__icon">
          <img
            src="../assets/icons/ic-google-plus.svg"
            alt="google plus icon"
            class="img-main"
          />
        </a>
        <a href="javascript:void(0)" class="footer-main__icon">
          <img
            src="../assets/icons/ic-twitter.svg"
            alt="twitter plus icon"
            class="img-main"
          />
        </a>
        <a href="javascript:void(0)" class="footer-main__icon">
          <img
            src="../assets/icons/ic-facebook.svg"
            alt="facebook icon"
            class="img-main"
          />
        </a>
        <a href="javascript:void(0)" class="footer-main__icon">
          <img
            src="../assets/icons/ic-instagram.svg"
            alt="instagram icon"
            class="img-main"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
