<header class="header-main">
  <div class="container">
    <!-- Start of header-top -->
    <div class="header-main__top">
      <a href="javascript:void(0)" class="header-main__logo">H.</a>
      <div class="menu">
        <!-- Start of navigation -->
        <nav>
          <ul class="menu__list">
            <li>
              <a href="javascript:void(0)" class="title--third link-main menu__link">Prices</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="title--third link-main menu__link">Booking</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="title--third link-main menu__link">Blog</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="title--third link-main menu__link">Services</a>
            </li>
          </ul>
        </nav>
        <div class="menu__actions">
          <img
            src="../assets/icons/ic-search.svg"
            class="img-main menu__actions__search"
            alt="search icon"
          />
          <div class="menu__language">
            <select class="title--third menu__language__select">
              <option value="US">US</option>
              <option value="VN">VN</option>
            </select>
          </div>
          <img src="../assets/icons/ic-menu.svg" class="menu__icon" alt="menu icon">
        </div>
      </div>
    </div>

    <!-- Start of header-bottom -->
    <div class="header-main__bottom">
      <!-- Start of header content -->
      <div class="header-main__content">
        <p class="title--third text-uppercase">responsive ui kit</p>
        <h1 class="title--primary text-uppercase header-main__title">
          hofmann
        </h1>
        <p class="header-main__sub-title">We’re Bring It To The New Level</p>
        <p class="header-main__desc">
          Every new computer that’s brought home from the store has an operating
          system installed onto it. But what most new computer users don’t
          realize, is that without an operating system, that computer would be a
          simple shell of possibilities.
        </p>
        <div class="header-main__download">
          <a href="javascript:void(0)" class="header-main__image">
            <img
              src="../assets/images/desktop/appstore-badge.png"
              class="img-main header-main__store"
              alt="appstore image"
            />
          </a>
          <a href="javascript:void(0)" class="header-main__image">
            <img
              src="../assets/images/desktop/google-play-badge.png"
              class="img-main header-main__store"
              alt="google play image"
            />
          </a>
        </div>
      </div>

      <!-- Start header image iphone -->
      <figure class="header-main__images">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="../assets/images/mobile/iphone.png"
            class="img-main"
          />
          <img
            src="../assets/images/desktop/iphone.png"
            alt="iphone image"
            class="img-main"
          />
        </picture>
        <figure class="header-main__phone">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="../assets/images/mobile/iphone-screen.png"
              class="img-main"
            />
            <img
              src="../assets/images/desktop/iphone-screen.png"
              class="img-main header-main__screen"
              alt="screen iphone image"
            />
          </picture>
        </figure>
      </figure>
    </div>
  </div>
</header>
